frontend/wailsjs/go/main/App.d.ts text eol=lf
frontend/wailsjs/go/main/App.js text eol=lf
frontend/wailsjs/go/models.ts text eol=lf
frontend/wailsjs/runtime/package.json text eol=lf
frontend/wailsjs/runtime/runtime.d.ts text eol=lf
frontend/wailsjs/runtime/runtime.js text eol=lf
